html{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 10% 1fr 15%;
    height: 95vh;
}
.header{
    background-color: lightgray;
    grid-column: 1/4;
    display: grid;
    justify-content: center;
}
.main{
    background-color: blanchedalmond;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr;
    gap: 10px;
}
section h2{
    padding: 10px;
    text-align: center;
}
.main-part{
    grid-column: 1/3;
    justify-self: center;
    align-self: center;
}
.section-1, .section-2{
    grid-row: 2/3;
}
.section-3{
    grid-column: 1/3;
}
section{
    height: 100px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: yellowgreen;
}
.aside{
    background-color: mintcream;
    display: grid;
    justify-content: center;
}
.footer{
    background-color: lightblue;
    grid-column: 1/4;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
}
.footer h2{
    background-color: darkcyan;
    padding: 20px;
    margin: 0;
}